@model IEnumerable<AjaxCRUDProject.Models.Employee>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                <a onclick="showPopup('@Url.Action("AddOrEdit","Employees",new{id=0},Context.Request.Scheme)','New Employee')" class="btn btn-success">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a onclick="showPopup('@Url.Action("AddOrEdit","Employees",new{id = item.Id},Context.Request.Scheme)','Update Employee')" class="btn btn-secondary">Edit</a>|
                <a onclick="showPopup('@Url.Action("Delete","Employees",new{id = item.Id},Context.Request.Scheme)','Delete Employee')" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>